<ul class="collection with-header" ng-if="common.user">
    <li class="collection-header"><h4>Заказы</h4></li>
    <li class="collection-item avatar" ng-repeat="order in orders">
        <h5>{{ order.title }}</h5>
        <p>Цена {{ order.cost }}у.е.</p>
        <div ng-switch="order.status">
            <p ng-switch-when="0">Заказано</p>
            <p ng-switch-when="1">Готовится</p>
            <p ng-switch-when="2">Доставляется</p>
            <p ng-switch-when="3">Возникли сложности</p>
            <p ng-switch-when="4">Подано</p>
        </div>
    </li>
</ul>